<component name="ArtifactManager">
  <artifact type="war" name="spring-multiple-maven-modules:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springboot-multiple-maven-modules-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring-multiple-maven-modules:war exploded" />
    </root>
  </artifact>
</component>